table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: rgb(88, 251, 7);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: rgb(121, 125, 119);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*profile, chnage pass*/
.form-container {
    width: 100%;
    margin-left: 25%;
    background-color: #f2f2f2;
    padding: 40px;
    min-height: 80%;
    box-shadow: -10px 7px white;

}

.food-form .form {
    align-self: center;
    width: 50%;
    height: 60%;
    background: #ffffff;
    border-radius: 8px;
    padding: 25px 35px;
    display: inline-block;
    margin-left: 150px;
}

.food-form h2 {
    text-align: left;
    color: #000000;
    text-transform: capitalize;
}

.food-form label {
    font-weight: bold;
}

.food-form input {

    width: 100%;
    padding: 15px;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #000000;

}

.food-form .button {
    margin: 40%, 20%, 20%, 40%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
}

.food-form .button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*er*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}